{% extends 'base.html' %}
{% block title %}Marooned{% endblock %}
{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <h1 class="btn-danger">Home</h1>
    <p>{{ home }}</p>

    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-4 left">
                {% for post in featured_post %}
                    {% include 'blog/baby_template/news_card.html' %}
                {% endfor %}
            </div>
            {% block sidebar %} {% include 'blog/baby_template/sidebar.html' %} {% endblock sidebar %}
        </div>
        <a class="align-center btn btn-outline-primary" href="{% url 'blog:blog' %}">Read All News</a>
    </div>

{% endblock %}