{% extends 'base.html' %}
{% block title %}
    Tags {{ block.super }}
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 mt-4 left">
                {% for tag in tag_list %}
                    <h5><a href="{{ tag.get_absolute_url }}">
                        <span class="badge badge-info">{{ tag }}</span></a></h5>
                {% endfor %}
            </div>
            {% block sidebar %} {% include 'blog/baby_template/sidebar.html' %} {% endblock sidebar %}
        </div>
    </div>
{% endblock %}


